@model Application.Movies.Queries.GetMovieDetails.MovieDetailsModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@Html.DisplayFor(model => model.Tagline)

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overview)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionCountries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionCountries)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
