@model IEnumerable<Application.Movies.Queries.GetMoviesList.MoviesListItemModel>

@{
    ViewBag.Title = "Movies";
}

<h1 class="ui header">
    <i class="film icon"></i>
    <span class="content">
        Movies
    </span>
</h1>
<br />
<div class="ui big very relaxed divided list">
    @foreach (var item in Model)
    {
        <div class="item">
            <img class="ui image" width="92" src="@Html.DisplayFor(modelItem => item.PosterUrl)" alt="No Image" />
            <div class="content">
                <h3>@Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Details", new { id = item.Id }, new { @class = "header" })</h3>
                <div class="description">
                    @Html.DisplayFor(modelItem => item.Tagline)
                </div>
            </div>
            <div class="right floated content">
                @if (item.WatchCount > 0)
                {
                    <i class="big icons" title="You've watched this movie @item.WatchCount times">
                        <i class="blue unhide icon"></i>
                        <span class="iconText">@item.WatchCount</span>
                    </i>
                }
                else
                {
                    <i class="big icons" title="You haven't watched this movie yet... why not?">
                        <i class="inverted grey unhide icon"></i>
                    </i>
                }
            </div>
        </div>
    }
</div>