@model Application.Users.Commands.SignIn.SignInModel

@{
    ViewBag.Title = "Login";
}
<h2 class="ui header">
    <div class="content">@ViewBag.Title</div>
</h2>
<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width:475px">
        <div class="ui stacked segment">
            <div class="ui form large">
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(model => model.LoginId, new { @name = "LoginId", @placeholder = @Html.DisplayNameFor(model => model.LoginId) })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="key icon"></i>
                            @Html.PasswordFor(model => model.Password, new { @name = "Password", @placeholder = @Html.DisplayNameFor(model => model.Password) })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            @Html.LabelFor(model => model.RememberMe)
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="ui fluid large blue button">Log In</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>