@model Application.Users.Commands.Register.RegisterModel
@using MMM.Presentation

@{
    ViewBag.Title = "Register";
}

<h2 class="ui header">
    <div class="content">@ViewBag.Title</div>
</h2>
<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width:475px">
        <div class="ui stacked segment">
            @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "ui form large" }))
            {
                @Html.ValidationSummary(false, "");
                @Html.AntiForgeryToken()
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        @Html.TextBoxFor(model => model.Email, new { @name = "email", @placeholder = @Html.DisplayNameFor(model => model.Email) })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        @Html.TextBoxFor(model => model.UserName, new { @name = "username", @placeholder = @Html.DisplayNameFor(model => model.UserName) })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="key icon"></i>
                        @Html.PasswordFor(model => model.Password, new { @name = "password", @placeholder = @Html.DisplayNameFor(model => model.Password) })
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="key icon"></i>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @name = "ConfirmPassword", @placeholder = @Html.DisplayNameFor(model => model.ConfirmPassword) })
                    </div>
                </div>
                <div>
                    <button type="submit" class="ui fluid large blue button">Register</button>
                    <div class="ui error message"></div>
                </div>
            }
        </div>
    </div>
</div>