<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/semantic")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>
<body>
    @{
        var pageName = ViewContext.RouteData.Values["controller"].ToString();
        var movieActive = pageName == "Movies" ? "active" : null;
        var personActive = pageName == "Person" ? "active" : null;
    }
    <div class="ui fixed inverted menu" style="height:65px">
        <div class="ui container">
            @Html.ActionLink("MML", "Index", "Home", null, new { @class = "header item" })
            <a class="@movieActive blue item" href="@Url.Action("Index", "Movies")">Movies</a>
            <a class="@personActive blue item" href="@Url.Action("Index", "Person")">People</a>
            <div class="right menu">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="ui main container">
        @RenderBody()
    </div>
    <div class="ui inverted footer segment">
        <div class="ui center aligned container">
            <p>&copy; @DateTime.Now.Year - My Movie List</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/semantic")
    @RenderSection("scripts", required: false)
</body>
</html>